# Gitignore from Metamedia
.vscode/launch.json
.idea/*
.vscode/settings.json
Azenqos/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
Azenqos/config_prev_cell_file
debug_vs/__init__.py
debug_vs/code.svg
debug_vs/LICENSE
debug_vs/metadata.txt
plugin_reloader/.directory
plugin_reloader/__init__.py
plugin_reloader/CHANGELOG
plugin_reloader/configurereloaderbase.ui
plugin_reloader/Makefile
plugin_reloader/metadata.txt
plugin_reloader/reload.png
plugin_reloader/reload-conf.png
plugin_reloader/reloader_plugin.py
plugin_reloader/i18n/plugin_reloader.pro
plugin_reloader/i18n/plugin_reloader_pl.qm
plugin_reloader/i18n/plugin_reloader_pl.ts
pluginbuilder3/__init__.py
pluginbuilder3/icon.png
pluginbuilder3/metadata.txt
pluginbuilder3/plugin_builder.png
pluginbuilder3/plugin_builder.py
pluginbuilder3/plugin_builder_dialog.py
pluginbuilder3/plugin_builder_dialog_base.ui
pluginbuilder3/plugin_specification.py
pluginbuilder3/qgis_dirs.py
pluginbuilder3/resources.py
pluginbuilder3/result_dialog.py
pluginbuilder3/results_dialog_base.ui
pluginbuilder3/select_tags_dialog.py
pluginbuilder3/select_tags_dialog_base.ui
pluginbuilder3/taglist.txt
pluginbuilder3/help/.buildinfo
pluginbuilder3/help/.nojekyll
pluginbuilder3/help/_config.yml
pluginbuilder3/help/genindex.html
pluginbuilder3/help/index.html
pluginbuilder3/help/objects.inv
pluginbuilder3/help/search.html
pluginbuilder3/help/searchindex.js
pluginbuilder3/help/_images/compile_failed.png
pluginbuilder3/help/_images/generating.png
pluginbuilder3/help/_images/plugin_menu.png
pluginbuilder3/help/_images/plugin_results.png
pluginbuilder3/help/_images/plugin_test.png
pluginbuilder3/help/_images/redundant_menu.png
pluginbuilder3/help/_images/wizard_about.png
pluginbuilder3/help/_images/wizard_helpers.png
pluginbuilder3/help/_images/wizard_publication_info.png
pluginbuilder3/help/_images/wizard_required_info.png
pluginbuilder3/help/_images/wizard_template.png
pluginbuilder3/help/_sources/index.rst.txt
pluginbuilder3/help/_sources/index.txt
pluginbuilder3/help/_static/ajax-loader.gif
pluginbuilder3/help/_static/basic.css
pluginbuilder3/help/_static/comment.png
pluginbuilder3/help/_static/comment-bright.png
pluginbuilder3/help/_static/comment-close.png
pluginbuilder3/help/_static/dialog-note.png
pluginbuilder3/help/_static/dialog-seealso.png
pluginbuilder3/help/_static/dialog-todo.png
pluginbuilder3/help/_static/dialog-topic.png
pluginbuilder3/help/_static/dialog-warning.png
pluginbuilder3/help/_static/doctools.js
pluginbuilder3/help/_static/documentation_options.js
pluginbuilder3/help/_static/down.png
pluginbuilder3/help/_static/down-pressed.png
pluginbuilder3/help/_static/epub.css
pluginbuilder3/help/_static/file.png
pluginbuilder3/help/_static/footerbg.png
pluginbuilder3/help/_static/headerbg.png
pluginbuilder3/help/_static/ie6.css
pluginbuilder3/help/_static/jquery.js
pluginbuilder3/help/_static/jquery-1.11.1.js
pluginbuilder3/help/_static/jquery-3.1.0.js
pluginbuilder3/help/_static/jquery-3.2.1.js
pluginbuilder3/help/_static/language_data.js
pluginbuilder3/help/_static/middlebg.png
pluginbuilder3/help/_static/minus.png
pluginbuilder3/help/_static/plus.png
pluginbuilder3/help/_static/pygments.css
pluginbuilder3/help/_static/pyramid.css
pluginbuilder3/help/_static/searchtools.js
pluginbuilder3/help/_static/transparent.gif
pluginbuilder3/help/_static/underscore.js
pluginbuilder3/help/_static/underscore-1.3.1.js
pluginbuilder3/help/_static/up.png
pluginbuilder3/help/_static/up-pressed.png
pluginbuilder3/help/_static/websupport.js
pluginbuilder3/help/doctrees/environment.pickle
pluginbuilder3/help/doctrees/index.doctree
pluginbuilder3/plugin_templates/__init__.py
pluginbuilder3/plugin_templates/plugin_template.py
pluginbuilder3/plugin_templates/processing_provider/__init__.py
pluginbuilder3/plugin_templates/processing_provider/plugin_template.py
pluginbuilder3/plugin_templates/processing_provider/wizard_form_base.ui
pluginbuilder3/plugin_templates/processing_provider/template/__init__.tmpl
pluginbuilder3/plugin_templates/processing_provider/template/module_name.tmpl
pluginbuilder3/plugin_templates/processing_provider/template/module_name_algorithm.tmpl
pluginbuilder3/plugin_templates/processing_provider/template/module_name_provider.tmpl
pluginbuilder3/plugin_templates/processing_provider/template/readme.tmpl
pluginbuilder3/plugin_templates/processing_provider/template/results.tmpl
pluginbuilder3/plugin_templates/shared/Makefile.tmpl
pluginbuilder3/plugin_templates/shared/pb_tool.tmpl
pluginbuilder3/plugin_templates/shared/plugin_upload.py
pluginbuilder3/plugin_templates/shared/pylintrc
pluginbuilder3/plugin_templates/shared/help/make.bat
pluginbuilder3/plugin_templates/shared/help/Makefile
pluginbuilder3/plugin_templates/shared/help/source/conf.py.tmpl
pluginbuilder3/plugin_templates/shared/help/source/index.rst.tmpl
pluginbuilder3/plugin_templates/shared/i18n/af.ts
pluginbuilder3/plugin_templates/shared/scripts/compile-strings.sh
pluginbuilder3/plugin_templates/shared/scripts/run-env-linux.sh
pluginbuilder3/plugin_templates/shared/scripts/update-strings.sh
pluginbuilder3/plugin_templates/shared/test/__init__.py
pluginbuilder3/plugin_templates/shared/test/qgis_interface.py
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.asc
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.asc.aux.xml
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.keywords
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.lic
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.prj
pluginbuilder3/plugin_templates/shared/test/tenbytenraster.qml
pluginbuilder3/plugin_templates/shared/test/test_init.py
pluginbuilder3/plugin_templates/shared/test/test_qgis_environment.py
pluginbuilder3/plugin_templates/shared/test/test_translations.py
pluginbuilder3/plugin_templates/shared/test/utilities.py
pluginbuilder3/plugin_templates/toolbutton_with_dialog/__init__.py
pluginbuilder3/plugin_templates/toolbutton_with_dialog/plugin_template.py
pluginbuilder3/plugin_templates/toolbutton_with_dialog/wizard_form_base.ui
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/__init__.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/icon.png
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/module_name.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/module_name_dialog.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/module_name_dialog_base.ui.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/readme.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/resources.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/results.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/test/test_module_name_dialog.templ
pluginbuilder3/plugin_templates/toolbutton_with_dialog/template/test/test_resources.templ
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/__init__.py
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/plugin_template.py
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/wizard_form_base.ui
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/__init__.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/icon.png
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/module_name.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/module_name_dockwidget.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/module_name_dockwidget_base.ui
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/module_name_dockwidget_base.ui.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/readme.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/resources.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/results.tmpl
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/test/test_module_name_dockwidget.templ
pluginbuilder3/plugin_templates/toolbutton_with_dockwidget/template/test/test_resources.templ
